.top-bar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.logo:hover {
    color: #ddd; /* Cambia el color del texto al pasar el mouse */
}

.navigation a {
    color: white;
    margin-left: 20px;
    margin-right: 30px;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.navigation a:hover {
    text-decoration: underline;
    color: #ddd;
}

.navigation {
    display: flex;
    gap: 15px;
}
