.homepage-container {
    background: linear-gradient(to right, #8e44ad, #3498db);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    gap: 30px;
}

.homepage-container .card {
    width: 250px;
    height: 200px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.homepage-container .card:hover {
    transform: translateY(-5px);
}

.homepage-container .card-upcoming {
    background-color: #ff4081;
    cursor: not-allowed;
}

.homepage-container .card-content h2 {
    margin: 0;
    font-size: 18px;
}

.homepage-container .card-content p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.homepage-container .home-image {
    width: 100px;
    height: auto;
    max-width: 30%;
    display: block;
    margin: 0 auto;
}

.homepage-container .reloj-image {
    width: 60px;
    height: auto;
    animation: rotate 2s linear infinite;
    display: block;
    margin: 0 auto;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
