.quiz-container {
  margin: 10%;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto 1fr auto;
  gap: 20px;
  height: 60vh;
}

.question-title {
  grid-column: 1 / -1;
  font-size: 2em;
  align-self: start;
}

.question-content {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-text, .question-more-text {
  text-align: center;
  margin: 0 auto;
}

.question-diagram {
  margin: 10px auto;
  max-width: 100%;
  height: auto;
}

.answer-box {
  grid-column: 1 / 2;
  width: 80%;
  padding: 10px;
  font-size: 1.2em;
  margin: 10px auto;
}

.exit-button {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: start;
}

.submit-button {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: end;
}

@media (max-width: 768px) {
  .quiz-container {
    margin: 10%;
  }
}
